.homeWrapper {
    height: 80vh;
    width: 100%;
    background-image: url("../images/collegeBackground.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heroText {
    padding-top: 2rem;
    font-weight: bold;
    margin-bottom: 3rem;
    text-align: center;
}
.heroWrapper {
    height: 60vh;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons {
    height: 200px;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
}

.loginButton {
    margin-right: 2rem;
}


.center img {
    object-fit: cover;
    height: 100%;
    align-items: center;
}

.center {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: transparent;
    align-items: left;
}

.center>a {
    text-decoration: none;
}



